@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Oswald|Raleway|Roboto');

/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/


:root {
    --main-bg-color: rgb(32, 32, 32);
    --vehicle_color: hsl(360, 100%, 50%);
    --font: 'Roboto', sans-serif;
}

body {
    background-color: var(--main-bg-color); 
    margin: auto;
}

h1 {
    color: white;
    width: 80%;
    text-align:  center;
    word-break: keep-all;
    font-family: var(--font);
}

/* -----------------------------------*/
/* ---------->>> BUTTONS <<<-----------*/
/* -----------------------------------*/

button:hover {
    cursor: pointer;
}

button:focus {
    cursor: default;
}

button {
    padding: 25px 80px;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: var(--main-bg-color); 
    border: 2px solid white;
    
    text-align: center;
    font-size: 1.4em;
    font-family: var(--font);
    
    margin: 10px 25px;
    margin-top: 25px;
}

.color {
    width: 80%;
    height: 50px;
    
    background-color: var(--vehicle_color);
    margin-top: 25px;
    padding-top: 5px;
    
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    
    text-align: center;
}

#colorId {
    font-family: var(--font);
}

p2 {
    color: white;
    font-family: var(--font);
    text-shadow: 2px 1px 7px rgba(252, 0, 150, 0.85);
}

.slidecontainer {
    
}

.slider {
    -webkit-appearance: none;
    color: red;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    margin: 5px 0px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background-color: gray;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(255, 255, 255);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-family: var(--font);
    border-radius: 25px;
}

.modal-content input {
    margin: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0;
}

/* -----------------------------------*/
/* ---------->>> TABLET <<<-----------*/
/* -----------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    button {
        margin-top: 50px;
    }
}

/* -----------------------------------*/
/* ---------->>> PHONE <<<-----------*/
/* -----------------------------------*/

@media only screen and (min-width: 0px) and (max-width: 767px) {
    
}

/* -----------------------------------*/
/* ---------->>> PC <<<-----------*/
/* -----------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 8000px) {

}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}